@import 'css/custom/_required.scss';

.container {
  @include desktop {
    display: flex;
  }
}

.body {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  position: relative;

  @include desktop {
    padding-top: $header-height;
  }
}
