// Color system

$white:    #fff !default;
$gray-000: #F9FAFC;
$gray-100: #F8F9FA; //
$gray-200: #ECF0F3;
$gray-300: #E2E5F1;
$gray-400: #B6BFDC;
$gray-500: #A8B8EA;
$gray-600: #697DB7;
$gray-700: #666666;
$gray-800: #1C3893;
$gray-900: #00165F;
$black:    #000;

$blue:    #1C3893;
$pink:    #EC1E6E;
$red:     #FF1744;
$orange:  #FF9D3F;
$green:   #1C933A; // #1FC783
$cyan:    #00B0FF; // #01A3FF

//cyan 2: #2AABE2;
//green 2: #27AE60;

$pink-500:   #EC5C94; // Custom parameter
$orange-500: #FFD012; // Custom parameter
$green-500:  #61BD0C; // Custom parameter
$cyan-500:   #01A3FF; // Custom parameter

$primary:             $blue !default;
$secondary:           $gray-600 !default;
$accent:              $cyan; // Custom parameter
$success:             $green !default;
$warning:             $orange;
$danger:              $red;

$accent-light:        $cyan-500;   // Custom parameter
$success-light:       $green-500;  // Custom parameter
$warning-light:       $orange-500; // Custom parameter
$danger-light:        $pink-500;   // Custom parameter

$extra-light:         $gray-200; // Custom parameter
$light:               $gray-300;
$dark:                $gray-900;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "accent":         $accent,       // Custom parameter
    "accent-light":   $accent-light, // Custom parameter
    "extra-light":    $extra-light,  // Custom parameter
  ),
  $theme-colors
);

$theme-gradients: ();
$theme-gradients: map-merge(
  (
    "accent":     (1: $accent-light, 2: $accent),
    "success":    (1: $success-light, 2: $success),
    "warning":    (1: $warning-light, 2: $warning),
    "danger":     (1: $danger-light, 2: $danger)
  ),
  $theme-gradients
);


// Options

$enable-validation-icons:                     false;
$full-width:                                  100%; // Custom parameter

// Body

$body-bg:                   $gray-200;
$body-color:                $black;
$body-size:                 10px;


// Links

$link-color:                $primary;
$link-hover-color:          $accent;
$link-hover-decoration:     none;


// Paragraphs

$paragraph-margin-bottom:   .8rem;


// Grid breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 470px,
  md: 768px,
  lg: 1024px,
  xl: 1400px
);
$mobile-breakpoint-up: 'lg';
$mobile-breakpoint-down: 'md';


// Grid columns

$grid-columns:                24;


// Components

$line-height-sm:              1.166666666666667;
$line-height-lg:              1.25;

$border-width:                .1rem;
$border-color:                mix($white, $secondary, 80%);

$border-radius:               .8rem;
$border-radius-lg:            $border-radius;
$border-radius-sm:            $border-radius;

$box-shadow:                  0px 2px 9px rgba(0, 0, 0, 0.02);
$box-shadow-lg:               0px 2px 12px rgba(28, 56, 147, 0.1);

$component-active-color:      $primary;
$component-active-bg:         $gray-200;

$transition-time:             .2s; // Custom parameter
$transition-base:             all $transition-time ease-in-out;
$transition-fade:             opacity .15s linear !default;
$transition-collapse:         height .35s ease !default;


// Typoegraphy

$font-family-sans-serif:      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-condensed:       "Roboto Condensed", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; // Custom parameter
$font-size-base:              1.4rem;
$font-size-xl:                1.8rem; // Custom parameter
$font-size-lg:                1.6rem;
$font-size-sm:                1.2rem;
$font-size-xs:                1.0rem;

$font-weight-normal:          normal;
$font-weight-bolder:          500;
$font-weight-bold:            600;

$line-height-base:            1.428571428571429;

$h1-font-size:                3.2rem;
$h2-font-size:                2.4rem;
$h3-font-size:                1.8rem;
$h4-font-size:                1.6rem;
$h5-font-size:                1.4rem;

$headings-margin-bottom:      0;
$headings-font-weight:        $font-weight-normal;

$h1-line-height:              4.2rem; // Custom parameter
$h2-line-height:              2.8rem; // Custom parameter
$h3-line-height:              2.4rem; // Custom parameter
$h4-line-height:              2rem; // Custom parameter
$h5-line-height:              2rem; // Custom parameter

$caption-color:               $secondary; // Custom parameter
$caption-size:                1.2rem; // Custom parameter
$caption-line-height:         1.166666666666667; // Custom parameter

$small-font-size:             $font-size-sm;

$text-muted:                  #888;
$text-label:                  transparentize($black, .4); // Custom parameter

$hr-border-color:             $border-color;


// Buttons + Forms

$input-btn-padding-y:         1rem - $border-width;
$input-btn-padding-x:         1.6rem - $border-width;
$input-btn-font-size:         $font-size-base;
$input-btn-line-height:       $line-height-base;

$input-btn-focus-width:       0;

$input-btn-padding-y-sm:      .5rem - $border-width;
$input-btn-padding-x-sm:      1rem - $border-width;
$input-btn-font-size-sm:      $input-btn-font-size;
$input-btn-line-height-sm:    $input-btn-line-height;

$input-btn-padding-y-lg:      2rem - $border-width;
$input-btn-padding-x-lg:      2.4rem - $border-width;
$input-btn-font-size-lg:      $font-size-lg;
$input-btn-line-height-lg:    $line-height-lg;


// Buttons

$btn-disabled-opacity:        1;
$btn-line-height:             2rem/$input-btn-font-size;

$btn-height:                  $input-btn-font-size * $input-btn-line-height + $input-btn-padding-y * 2 + $border-width * 2; // Custom parameter
$btn-height-sm:               $input-btn-font-size-sm * $input-btn-line-height-sm + $input-btn-padding-y-sm * 2 + $border-width * 2; // Custom parameter
$btn-height-lg:               $input-btn-font-size-lg * $input-btn-line-height-lg + $input-btn-padding-y-lg * 2 + $border-width * 2; // Custom parameter

$btn-block-spacing-y:         0;


// Forms

$label-width:                           30rem; // Custom parameter
$label-margin-bottom:                   0;
$label-required-indicator:              ""; // Custom parameter

$input-bg:                              $gray-000;

$input-color:                           $gray-700;
$input-icon-color:                      $input-color; // Custom parameter
$input-border-color:                    $border-color;
$input-box-shadow:                      none;

$input-placeholder-color:               transparentize($secondary, .4);

$input-focus-border-color:              mix($white, $secondary, 70%);

$input-height:                          2rem + $input-btn-padding-y * 2 + $border-width * 2; // Fixes rounding error on line height

$input-empty-bg:                        mix($white, $gray-400, 90%);
$input-empty-border-color:              $input-border-color;

$input-disabled-bg:                     mix($white, $extra-light, 50%);
$input-disabled-color:                  $light; // Custom parameter
$input-disabled-border-color:           $input-disabled-bg; // Custom parameter

$input-max-width:                       25rem; // Custom parameter

$custom-control-label-color:            $dark;
$custom-control-label-disabled-color:   $extra-light;
$custom-control-label-weight:           $font-weight-normal;

$form-text-margin-top:                  0;

$form-grid-gutter-width:                2rem;
$form-grid-gutter-width-mobile:         1.6rem; // Custom parameter
$form-group-margin-bottom:              2.4rem;

$form-group-padding:                    15px; // Custom parameter
$form-group-padding-mobile:             10px; // Custom parameter

$input-group-addon-color:               $input-border-color;
$input-group-addon-bg:                  $input-bg;


// Dropdowns

$dropdown-padding-y:                0;
$dropdown-spacer:                   0;
$dropdown-bg:                       $white !default;
$dropdown-border-color:             $border-color;
$dropdown-border-radius:            0;
$dropdown-inner-border-radius:      0;
$dropdown-box-shadow:               $box-shadow;

$dropdown-link-hover-bg:            transparent;

$dropdown-item-padding-y:           1.5rem;
$dropdown-item-padding-x:           3rem;

$dropdown-caret-size:               1rem; // Custom parameter


// Cards

$card-spacer-y:                     2rem;
$card-spacer-x:                     3rem;
$card-border-width:                 0;
$card-border-radius:                0;
$card-cap-bg:                       transparent;
$card-bg:                           transparentize($white, .1);


// Tooltips

$tooltip-font-size:                 $font-size-base;
$tooltip-max-width:                 300px;
$tooltip-color:                     $white !default;
$tooltip-bg:                        $accent;
$tooltip-border-radius:             0;
$tooltip-opacity:                   1;
$tooltip-padding-y:                 1rem;
$tooltip-padding-x:                 1.5rem;
$tooltip-margin:                    .5rem;

$tooltip-arrow-width:               1.2rem;
$tooltip-arrow-height:              .6rem;
$tooltip-arrow-color:               $tooltip-bg !default;


// Badges

$badge-height:                      1.6rem;   // Custom parameter

$badge-font-size:                   $font-size-sm;
$badge-font-weight:                 $font-weight-normal;
$badge-padding-y:                   0;
$badge-padding-x:                   .2rem;
$badge-border-radius:               $border-radius-sm;

$badge-pill-padding-x:              .4rem;
$badge-pill-border-radius:          $badge-height;


// Modals

$modal-content-border-width:        0;

$modal-backdrop-bg:                 $extra-light;
$modal-backdrop-opacity:            .3;
$modal-padding:                     3rem; // CUSTOM PARAMETER
$modal-content-border-width:        0;
$modal-content-border-radius:       0;

$modal-sm:                          30rem;
$modal-md:                          41rem;
$modal-lg:                          52rem;


// Alerts

$alert-padding-y:                   $input-btn-padding-y;
$alert-padding-x:                   $input-btn-padding-x;
$alert-border-radius:               0;
$alert-border-width:                0;
$alert-font-size:                   $input-btn-font-size; // Custom parameter
$alert-line-height:                 $input-btn-line-height; // Custom parameter

$alert-bg-level:                    -8.5;
$alert-border-level:                0;
$alert-color-level:                 6;


// List group

$list-group-bg:                     transparent;
$list-group-border-color:           $border-color;

$list-group-item-padding-y:         0;
$list-group-item-padding-x:         0;


// Custom

$logo-height:                 40px;
$logo-width:                  128px;
$logo-small:                  40px; // must be px
$logo-offset:                 -1.6rem;

$sprite-size-lg:              24px; // must be px
$sprite-size-md:              20px; // must be px
$sprite-size-sm:              18px; // must be px
$sprite-size-xs:              16px; // must be px

$menu-lg:                     23rem;
$menu-sm:                     8rem;
$menu-padding-y:              2rem;
$menu-padding-x-lg:           3rem;
$menu-padding-x-sm:           1rem;
$menu-padding-y-mobile:       2rem;
$menu-padding-x-mobile:       2rem;
$menu-item-padding-y:         1rem;
$menu-item-padding-y-mobile:  2rem;
$menu-item-padding-x-mobile:  1.5rem;

$interface-header-padding-y:  1.2rem;
$interface-header-padding-x:  3rem;

$header-height:               6.5rem;

$module-padding:              3rem;
$module-padding-mobile:       2rem;

$sidebar-bg:                  $white;
$sidebar-width:               32rem;

$table-padding-y:             2rem;
$table-padding-x:             2rem;
$table-padding-x-sm:          2.4rem;
$table-header-color:          #4d4d4d;
$summary-width:               30rem;

$pagination-height:           6.8rem;
$pagination-padding:          1.5rem;
$pagination-button-size:      2.8rem;

$toggle-active-box-shadow:    0px 4px 12px rgba(0, 8, 51, 0.1);

// Disable RFS by setting $enable-responsive-font-sizes to false
$enable-responsive-font-sizes: false;


// Dark Theme

$dark-bg:                     $primary;
$dark-color:                  $secondary;
$dark-muted:                  mix($primary, $white, 50%);
$dark-border-color:           mix($primary, $white, 90%);
$dark-input-bg:               mix($primary, $white, 90%);
$dark-input-color:            $white;
$dark-input-border-color:     mix($dark-input-bg, $secondary, 80%);
$dark-btn-color:              $white;
