@import 'css/custom/_required.scss';

.badge {
  align-items: center;
  border-radius: .4rem;
  color: $white;
  display: inline-flex;
  font-size: $font-size-base;
  font-weight: $font-weight-bolder;
  height: $font-size-base * $line-height-base * 1.5;
  padding: 0 1rem;

  @each $color, $value in $theme-colors {
    &:global(.badge-#{$color}) {
//      background-color: mix($white, $value, 60%);
//      color: mix($black, $value, 20%);
    }
  }

}
