@import 'css/custom/_required.scss';

.link {
  color: $link-color;
  font-weight: $font-weight-bolder;
  padding: 0;

  @include hover {
    color: $link-hover-color;
    text-decoration: none;
  }

  :global(.btn-label) {
    text-transform: none;
  }

  :global(.sprite:not(:last-child).order-1) {
    margin-right: 5px;
  }
}
