@import 'css/custom/_required.scss';
@import './listRow.module.scss';

.header {
  background: $white;
  border-bottom: 1px solid $border-color;
  display: block;
  padding: 0 2rem;
  position: sticky;
  top: $header-height;
  z-index: $zindex-sticky;

  @include hidden-mobile;
}

.col {
  @include caption;
  align-items: center;
  color: $text-label;
  display: flex;
  font-size: $font-size-sm;
  line-height: 1.1em;
  min-height: $font-size-sm * 1.1 + 3rem;
}
