@import 'css/custom/_required.scss';

.control {
  background-color: $input-bg;
  background-image: none !important;

  &:not(:first-child) {
    border-left-width: 0;
    padding-left: 0;
  }

  &:not(:last-child) {
    border-right-width: 0;
    padding-right: 0;
  }

  &:focus {
    border-color: $input-border-color;
  }

  :global(.form-control-empty) > & {
    @extend %input-empty;
  }

  :global(.form-control-focus) > & {
    &, &:focus {
      @extend %input-focus;
    }
  }

  :global(.form-control-disabled) > & {
    &, &:focus {
      @extend %input-disabled;
    }
  }

  :global(.form-control-read-only) > & {
    &, &:focus {
      @extend %input-read-only;
    }
  }

  :global(.form-control-error) > & {
    @extend %input-error;
  }

  &:global(.form-control-plaintext) {
    &, &:focus {
      @extend %input-plaintext;
      border: 0;
      padding: 0 !important;
    }
  }

  &.sm {
    @extend %input-small;
  }
}

.text {
  align-items: center;
  display: flex;
  height: $btn-height;

  &.sm {
    height: $btn-height-sm;
  }
}
