@import 'css/custom/_required.scss';

.group {
  padding: 0;

  &:not(.inline) > *:nth-child(2) {
    padding-top: $form-grid-gutter-width/2;
  }
}

.rangePicker {
  &:not(.vertical):not(.columns):not(.fullWidth) {
    max-width: ($input-max-width + $form-grid-gutter-width)/2;
  }
}
